version: "3.9"

services:
  db:
    image: postgres:17
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql+psycopg2://app_user:app_password@db:5432/app_db
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - ./app:/app/app

volumes:
  postgres_data:
